<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="/public/favicon.ico">
	<title>页面找不到了</title>
	<style>
		.wrapper {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 450px;
			height: 560px;
		}
		h1 {
			text-align: center;
			margin-top: 40px;
		}
		h2 {
			text-align: center;
		}
		.logo {
			width: 100px;
			margin: 0 175px;
		}
	</style>
</head>
<body>
<div class="wrapper">
	<img src="/public/img/404.svg" alt="">
	<h1>抱歉，页面丢失了</h1>
	<h2>你可以继续访问我们的首页👇</h2>
	<a href="/">
		<img class="logo" src="/public/img/logo.png" alt="">
	</a>
</div>
</body>
</html>